<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=gb2312" />
<title>css实现表格</title>
<link href="css/tableStyle.css" rel="stylesheet" type="text/css" /> 
</head>
<body>
<div class="tableBody">
<ul> 
<div class="header">
<li class="column1">全选</li> 
<li class="column2">邮箱地址</li> 
<li class="column3">操作</li> 
</div>
<li class="column1"><input type="checkbox" checked="checked" /></li> 
<li class="column2">service@139.com</li> 
<li class="column3"><a href="#">删除</a> <a href="#">修改</a></li> 
<li class="column1 bottomLine"><input type="checkbox" checked="checked" /></li> 
<li class="column2 bottomLine">webmaster@139.com</li> 
<li class="column3 bottomLine"><a href="#">删除</a> <a href="#">修改</a></li> 
</ul>
</div>
</body>
</html>
